mybatis:
    type-aliases-package: com.creditmanage
    configuration:
        map-underscore-to-camel-case: true
        default-fetch-size: 100
        default-statement-timeout: 30
        log-impl: org.apache.ibatis.logging.stdout.StdOutImpl
    config-location: classpath:mybatis-config.xml
    mapper-locations: classpath*:com/creditmanage/**/*Mapper.xml

server:
  port: 8989
spring:
  datasource:
    url: jdbc:mysql://193.112.75.134:4002/creditmanage?useUnicode=true&characterEncoding=utf8&rewriteBatchedStatements=true
    username: root
    password: abc123456
    type: com.alibaba.druid.pool.DruidDataSource
    driver-class-name: com.mysql.jdbc.Driver

